PROJECT_ROOT=

LOG_DIR=
LOG_LEVEL=debug

POSTGRES_USER=
POSTGRES_DB=
POSTGRES_PASSWORD_FILE=./secrets/postgres_password.txt
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_PING_TIMEOUT=5s

PORT_FORWARD=5432

HTTP_SERVER_PORT=8080
HTTP_SERVER_READ_TIMEOUT=15s
HTTP_SERVER_WRITE_TIMEOUT=15s
HTTP_SERVER_IDLE_TIMEOUT=1m
HTTP_SERVER_SHUTDOWN_TIMEOUT=5s
HTTP_SERVER_MAX_HEADER_BYTES=5242880

HANDLER_REQUEST_TIMEOUT=5s
